<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h3>Detalles</h3></div>
    <p id="notice"><%= notice %></p>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6 col-sm-offset-3">
            <%= form_tag(detalles_path, :method => "get", id: "search-form") do %>
            <div class="input-group">
              <%= text_field_tag :search,  params[:search], placeholder: "Buscar detalle de pedidos", class: "form-control"%>
              <span class="input-group-btn">
                <%= submit_tag "Buscar", class: 'btn btn-default'%>
              </span>
            </div>
           <% end %>
          </div>
        </div>
      <div class="row" style="height: 50px;"></div>
        <div class="table-responsive">
          <table class="table table-hover">
              <thead style="color: white; background-color:rgba(30,20,20, 0.7);">
                <tr>
            <th>Pedido</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Pendiente de remitir</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @detalles.each do |detalle| %>
      <tr>
            <td><%= detalle.pedido_id %></td>
            <td><%= detalle.producto_id %></td>
            <td><%= detalle.cantidad %></td>
            <td><%= detalle.precio %></td>
            <td><%= detalle.pendiente_remitir %></td>
            <td><%= link_to 'Show', detalle %></td>
        <td><%= link_to 'Edit', edit_detalle_path(detalle) %></td>
        <td><%= link_to 'Destroy', detalle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
</div>
    <%= will_paginate @detalle, renderer: BootstrapPagination::Rails %>
      <button type="button" class="btn btn-primary pull-right">
        <%= link_to 'Nuevo detalle', new_detalle_path %>
      </button>
</div>

</div>
</div>
</div>
