<%= stylesheet_link_tag 'login' %>
<div class="login">
	<div class="login_content">
		<h2>Recuperar contrase単a</h2>
		<div class="container-fluid">
			<%= form_for @user, :url => password_reset_path(params[:id]), :class => "form-horizontal" do |f| %>
				<% if @user.errors.any? %>
					<div class="error_messages">
						<h2>Form is invalid</h2>
						<ul>
							<% for message in @user.errors.full_messages %>
								<li><%= message %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
				<div class="form-group">
					<div class="form-group">
						<%= f.label :password, "Ingrese su nueva contrase単a", :class => "col-lg-3 control-label" %>
						<div class="col-lg-9">
							<%= f.password_field :password, value = nil, class: "form-control" %>
						</div>
					</div>
					<div class="form-group">
						<%= f.label :password_confirmation, "Vuelva a ingresar su nueva contrase単a", :class => "col-lg-3 control-label" %>
						<div class="col-lg-9">
							<%= f.password_field :password_confirmation, value = nil, class: "form-control" %>
						</div>
					</div>
					<div class="actions"><%= f.submit "Actualizar contrase単a" %></div>
			<% end %>
		</div>
	</div>
</div>