<%= stylesheet_link_tag 'login' %>
<div class="login">
	<div class="login_content">
		<h2>Recuperar contrase単a</h2>
		<div class="container-fluid">
			<%= form_for @user, :url => password_reset_path(params[:id]), :class => "form-horizontal" do |f| %>
				<% if @user.errors.any? %>
					<div class="error_messages">
						<h2>Form is invalid</h2>
						<ul>
							<% for message in @user.errors.full_messages %>
								<li><%= message %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
					<div class="form-group row">
						<%= f.label :password, "Nueva contrase単a", :class => "col-sm-4 col-form-label" %>
						<div class="col-sm-8">
							<%= f.password_field :password, :class => "form-control" %>
						</div>
					</div>
					<div class="form-group row">
						<%= f.label :password_confirmation, "Reingresar nueva contrase単a", :class => "col-sm-4 col-form-label" %>
						<div class="col-sm-8">
							<%= f.password_field :password_confirmation, :class => "form-control" %>
						</div>
					</div>
					<div class="form-group">
						<%= f.submit "Actualizar contrase単a" , :class => "btn btn-primary"%>
					</div>
			<% end %>
		</div>
	</div>
</div>