<%= stylesheet_link_tag 'login' %>
<div class="login">
	<div class="login_content">
		<h2>Recuperar contraseña</h2>
		<div class="container-fluid">
		<%= form_tag password_resets_path,:class => "form-horizontal", :method => :post do %>
			<div class="form-group">
		    	<%= label_tag :email,  "Email", :class => "col-lg-3 control-label" %>
		    		<div class="col-lg-9">
						<%= text_field_tag :email, params[:email], :placeholder => "nombre@email.com", :class => "form-control" %>
		    		</div>
		  	</div>
		  	<div class="form-group">
				<%= submit_tag 'Recuperar', :class => "btn btn-primary"%>
			</div> 
		<% end %>
		</div>
	</div>
</div>