<%= form_for(@remito, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @remito.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@remito.errors.count, "error") %> El remito no pudo ser guardado por:</h4>

      <ul>
      <% @remito.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :pedido_id, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <% if @pedido %>
      <%= f.number_field :pedido_id, :value => @pedido.id, class: "form-control" %>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :numero, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :numero, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :fecha, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.datetime_select :fecha, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :transporte, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :transporte, class: "form-control" %>
    </div>
  </div>



  <div class="table-responsive-vertical shadow-z-1">
  <table id="table" class="table table-hover">
      <% if @remito.new_record? %>
            <thead>
              <tr>
              <th>Producto</th>
              <th>Precio</th>
              <th>Pendiente</th>
              <th>Cantidad</th>
              <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
              <%= f.fields_for :remito_items do |ff| %>
                  <% render 'remito_items', f: ff %>
                <% end %>
              <% end%>
            </tbody>
          </table>
        </div>



  <div class="form-group">
    <%= f.label :ivaTotal, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :ivaTotal, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :total, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :total, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cantidadTotal, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :cantidadTotal, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to remitos_path, class: 'btn btn-default pull-right' do %>
          Cancelar
      <% end -%>
    </div>
  </div>
<% end %>

