<tr>	<td data-title="Producto"><%= f.object.producto.nombre %><br>
	<%= f.object.producto.descripcion %></td>
	<td data-title="Pendiente" class="pendiente"><%= @pedido.detalles.find_by(producto_id: f.object.producto.id).pendiente_remitir  %></td>
	<td data-title="Cantidad"><%= f.text_field :cantidad, :value => @pedido.detalles.find_by(producto_id: f.object.producto.id).pendiente_remitir , class: "cantidad form-control" %></td>
	<%= f.hidden_field :producto_id %>
</tr>