<p id="notice"><%= notice %></p>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h3>remitos</h3></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6 col-sm-offset-3">
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Buscar</button>
              </span>
            </div>
          </div>
        </div>
        <div class="row" style="height: 100px;"></div>
          <div class="table-responsive">
            <table class="table table-hover">
                <thead style="color: white; background-color:rgba(30,20,20, 0.7);">
                  <tr>
                                            <th>Pedido</th>
                        <th>Numero</th>
                        <th>Fecha</th>
                        <th>Transporte</th>
                        <th>Ivatotal</th>
                        <th>Total</th>
                        <th>Cantidadtotal</th>

                    <th>Mostrar</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                  </tr>
                </thead>


                <tbody>
                  <% @remitos.each do |remito| %>
                                            <td><%= remito.pedido_id %></td>
                                            <td><%= remito.numero %></td>
                                            <td><%= remito.fecha %></td>
                                            <td><%= remito.transporte %></td>
                                            <td><%= remito.ivaTotal %></td>
                                            <td><%= remito.total %></td>
                                            <td><%= remito.cantidadTotal %></td>
                                      <td>
                    <%= link_to remito_path(remito) do %>
                      <i class="glyphicon glyphicon-list-alt"></i>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_remito_path(remito) do %>
                      <i class="glyphicon glyphicon-pencil"></i>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to remito_path(remito.id), method: :delete, data: { confirm: 'Esta seguro que desea eliminar esta remito?' }, remote: true do %>
                      <i class="glyphicon glyphicon-trash"></i>
                    <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
            </table>
          </div>
          <%= will_paginate @remitos, renderer: BootstrapPagination::Rails %>
          <button type="button" class="btn btn-primary pull-right">
            <%= link_to 'Nueva remito', new_remito_path %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
