

<h1>Producto Historicos</h1>

<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Precio</th>
      <th>Fechadesde</th>
      <th>Fechahasta</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @producto_historicos.each do |producto_historico| %>
      <tr>
        <td><%= producto_historico.producto_id %></td>
        <td><%= producto_historico.precio %></td>
        <td><%= producto_historico.fechaDesde %></td>
        <td><%= producto_historico.fechaHasta %></td>
        <td><%= link_to 'Show', producto_historico %></td>
        <td><%= link_to 'Edit', edit_producto_historico_path(producto_historico) %></td>
        <td><%= link_to 'Destroy', producto_historico, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Producto Historico', new_producto_historico_path %>


<h5>Variacion historica de insumos</h5>
<%= line_chart @insumo_historico,  { library: {width: 600} }%>

<h5>Variacion historica de productos</h5>
<%= line_chart @historico,  { library: {width: 600} }%>

<h5>Cantidad de pedidos por distribuidor</h5>
<%= pie_chart @pedidos_por_distribuidor, library: {legend: {labelFormat: '{name} : {y} ({percentage:.1f}%)'}} %>   



<h5>Cantidad de productos pedidos</h5>
<%= pie_chart @producto_pedidos %>


