  <fieldset style="background-color: rgb(240,240,240)">
  <h3> Cheque <%= @numerador + 1 %></h3>
  <div class="form-group">
	  <%= f.label :fecha, "Fecha de pago", class: "col-sm-2 control-label" %>
	  <div class="col-sm-10">
	  <%= f.date_field :fecha, class: "form-control" %>
	  </div>
  </div>
    <div class="form-group">
	  <%= f.label :numero, "Numero", class: "col-sm-2 control-label" %>
	  <div class="col-sm-10">
	  <%= f.text_field :numero, class: "form-control" %>
	  </div>
  </div>
    <div class="form-group">
	  <%= f.label :monto, "Monto", class: "col-sm-2 control-label" %>
	  <div class="col-sm-10">
	  <%= f.text_field :monto, class: "monto-cheque form-control" %>
	  </div>
	  <div class="col-sm-2 col-sm-offset-10">
    	<%= f.hidden_field :_destroy %>
    	<%= link_to "Eliminar cheque", '#', class: "remove_fields btn btn-danger pull-right" %>
    </div>
   </div>
</fieldset>



<script>
  $('.monto-cheque').unbind();
  $('.monto-cheque').on('change', function(){
    UpdateTotal();
  });

  $('.remove_fields').on('click', function(){
  	UpdateEliminar(this);
  	UpdateTotal();
  });

  	function UpdateEliminar(elem){
  	  var $container = $(elem).parent().parent();
      var $monto = $container.find('.monto-cheque');
      $monto.val(0).trigger('change');
  	}

    function UpdateTotal(){
    var suma = 0;
    $(".monto-cheque").each(function(){
      var val = $.trim( $(this).val() );
      suma += parseFloat(val);
    });
    $("#pago_monto").prop("readonly", false);
    $('#pago_monto').val(suma.toFixed(2)).trigger('change');
    $("#pago_monto").prop("readonly", true);
  }
  </script>