
<div class="container">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"><h2>pago</h2></div>
        <div class="panel-body">
         <dl class="dl-horizontal">
          <dt>Distribuidor:</dt>
          <dd><%= @pago.distribuidor_id %></dd>

          <dt>Numero:</dt>
          <dd><%= @pago.numero %></dd>

          <dt>Mediodepago:</dt>
          <dd><%= @mediosDePago[@pago.medioDePago] %></dd>

          <dt>Monto:</dt>
          <dd><%= @pago.monto %></dd>

          <dt>Estado:</dt>
          <dd><%= @pago.estado %></dd>

          <% if @pago.cheques.any? %>
            <h1>tiene cheques!!</h1>
          <% end %>

        </dl>
        </div>
      </div>
    </div>
      <%= link_to pagos_path, class: 'btn btn-default pull-right' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Pagos
      <% end %>
      <%= link_to pago_path(@pago), method: :delete, data: { confirm: 'Esta seguro que desea eliminar este pago?' }, class: 'btn btn-danger pull-right', remote: true do %>
        <span class="glyphicon glyphicon-trash"></span>
        Eliminar
      <% end %>
      <%= link_to edit_pago_path(@pago),  class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
  </div>
</div>