
<button class="dashboard-links-boton">></button>

<%= link_to(users_path, :class => "dashboard-link")  do %>
	<h2>Usuarios</h2>
<% end %>
<%= link_to(edit_multiple_condiciones_users_path, :class => "dashboard-link")  do %>
	<h2>Usuarios - Condiciones de pago</h2>
<% end %>
<%= link_to(edit_multiple_users_path, :class => "dashboard-link")  do %>
	<h2>Usuarios - Relaciones</h2>
<% end %>
<%= link_to(mensajes_path, :class => "dashboard-link") do %>
	<h2>Mensajes</h2>
<% end %>
<%= link_to(pedidos_path, :class => "dashboard-link")  do %>
	<h2>Pedidos</h2>
<% end %>
<%= link_to(monedas_path , :class => "dashboard-link") do %>
	<h2>Monedas</h2>
<% end %>
<%= link_to(condicion_pagos_path, :class => "dashboard-link")  do %>
	<h2>Condiciones</h2>
<% end %>
<%= link_to(productos_path, :class => "dashboard-link")  do %>
	<h2>Productos</h2>
<% end %>
<%= link_to(insumos_path, :class => "dashboard-link")  do %>
	<h2>Insumos</h2>
<% end %>
<%= link_to(familia_path, :class => "dashboard-link")  do %>
	<h2>Familia</h2>
<% end %>
<%= link_to(transportista_path, :class => "dashboard-link")  do %>
	<h2>Transporte</h2>
<% end %>
<%= link_to(medidas_path, :class => "dashboard-link")  do %>
	<h2>Medidas</h2>
<% end %>
<%= link_to(paises_path, :class => "dashboard-link")  do %>
	<h2>Paises</h2>
<% end %>
<%= link_to(provincias_path, :class => "dashboard-link") do %>
	<h2>Provincias</h2>
<% end %>
<%= link_to(ciudades_path, :class => "dashboard-link") do %>
	<h2>Ciudades</h2>
<% end %>
<%= link_to(profiles_path, :class => "dashboard-link")  do %>
	<h2>Perfil</h2>
<% end %>
<%= link_to(cheques_path, :class => "dashboard-link")  do %>
	<h2>Cheques</h2>
<% end %>
<%= link_to(cuentascorrientes_path, :class => "dashboard-link")  do %>
	<h2>Cuentas corrientes</h2>
<% end %>
<%= link_to(pagos_path, :class => "dashboard-link")  do %>
	<h2>Pagos</h2>
<% end %>
<%= link_to(stock_pedidos_path, :class => "dashboard-link")  do %>
	<h2>Stock</h2>
<% end %>
<%= link_to(profiles_path, :class => "dashboard-link")  do %>
	<h2>Mailing</h2>
<% end %>
<%= link_to(remitos_path, :class => "dashboard-link")  do %>
	<h2>Remitos</h2>
<% end %>
<%= link_to(facturas_path, :class => "dashboard-link")  do %>
	<h2>Facturas</h2>
<% end %>

<script>
$(".dashboard-links-boton").click(function(){
	$(".dashboard-links").toggleClass("open");
})
</script>
