
		<div class="menu">

			<%= link_to(edit_multiple_users_path, :class => "links")  do %>
    			<div class="menuBoton" id="usuarios" style="background-color: #1abc9c">
					<div class="menuHeader">
						<h2>Usuarios</h2>
					</div>
					<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
					<h1>--</h1>
				</div>
			<% end %>

			<%= link_to(mensajes_path, :class => "links") do %>
			<div class="menuBoton" id="mensajes" style="background-color: #e74c3c">
				<div class="menuHeader">
					<h2>Mensajes</h2>
				</div>
				<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
				<h1>23</h1>
			</div>
			<% end %>
			<%= link_to(pedidos_path, :class => "links")  do %>
			<div class="menuBoton" id="pedidos" style="background-color: #3498db">
				<div class="menuHeader">
					<h2>Pedidos</h2>
				</div>
				<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
				<h1>20</h1>
			</div>
			<% end %>
			<%= link_to(monedas_path , :class => "links") do %>
			<div class="menuBoton" id="monedas" style="background-color: #16a085">
				<div class="menuHeader">
					<h2>Monedas</h2>
				</div>
				<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
				<h1>--</h1>
			</div>
			<% end %>
			<%= link_to(condicion_pagos_path, :class => "links")  do %>
			<div class="menuBoton" id="condiciones" style="background-color: #f1c40f">
				<div class="menuHeader">
					<h2>Condiciones</h2>
				</div>
			</div>
			<% end %>
			<%= link_to(productos_path, :class => "links")  do %>
			<div class="menuBoton" id="productos" style="background-color: #d35400">
				<div class="menuHeader">
					<h2>Productos</h2>
				</div>
			</div>
			<% end %>

			<%= link_to(familia_path, :class => "links")  do %>

			<div class="menuBoton" id="familia" style="background-color:#2c3e50">
				<div class="menuHeader">
					<h2>Familia</h2>
				</div>
			</div>
			<% end %>
			<%= link_to(transportista_path, :class => "links")  do %>
			<div class="menuBoton" id="transporte" style="background-color:#8e44ad">
				<div class="menuHeader">
					<h2>Transporte</h2>
				</div>
			</div>
			<% end %>
			<%= link_to(medidas_path, :class => "links")  do %>
			<div class="menuBoton" id="medidas" style="background-color:">
				<div class="menuHeader">
					<h2>Medidas</h2>
				</div>
			</div>
			<% end %>
			<%= link_to(paises_path, :class => "links")  do %>
			<div class="menuBoton" id="paises" style="background-color:">
				<div class="menuHeader">
					<h2>Paises</h2>
				</div>
				<span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
			</div>
			<% end %>

			<%= link_to(provincias_path, :class => "links") do %>

			<div class="menuBoton" id="provincias" style="background-color:">
				<div class="menuHeader">
					<h2>Provincias</h2>
				</div>
				<span class="glyphicon glyphicon-th" aria-hidden="true"></span>
			</div>
			<% end %>

			<%= link_to(ciudades_path, :class => "links") do %>

			<div class="menuBoton" id="ciudades" style="background-color: #ecf0f1">
				<div class="menuHeader">
					<h2>Ciudades</h2>
				</div>
				<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
			</div>
			<% end %>
			<%= link_to(profiles_path, :class => "links")  do %>
			<div class="menuBoton" id="perfil" style="background-color:#9b59b6">
				<div class="menuHeader">
					<h2>Perfil</h2>
				</div>
				<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
			</div>
			<% end %>
			<div class="menuBoton" id="mailing" style="background-color:">
				<div class="menuHeader">
					<h2>Mailing</h2>
				</div>
				<span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
			</div>

		</div>

