
<div class="container">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"><h2>Transportista</h2></div>
        <div class="panel-body">
         <dl class="dl-horizontal">
          <dt>Nombre:</dt>
          <dd><%= @transportista.nombre %></dd>

          <dt>Dni:</dt>
          <dd><%= @transportista.dni %></dd>

          <dt>Cuit:</dt>
          <dd><%= @transportista.cuit %></dd>

          <dt>Destino:</dt>
          <dd><%= @transportista.destino %></dd>

          <dt>Numeroguia:</dt>
          <dd><%= @transportista.numeroGuia %></dd>

          <dt>Dniretira:</dt>
          <dd><%= @transportista.dniRetira %></dd>

          <dt>Comentarios:</dt>
          <dd><%= @transportista.comentarios %></dd>

        </dl>
        </div>
      </div>
    </div>
      <%= link_to edit_transportistum_path, class: 'btn btn-default pull-right' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        transportista
      <% end %>
      <%= link_to transportistum_path(@transportista), method: :delete, data: { confirm: 'Esta seguro que desea eliminar esta provincia?' }, class: 'btn btn-danger pull-right', remote: true do %>
        <span class="glyphicon glyphicon-trash"></span>
        Eliminar
      <% end %>
      <%= link_to edit_transportistum_path(@transportista),  class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
  </div>
</div>