<tr>	
	<td data-title="Producto"><%= f.object.producto.nombre %><br>
	<%= f.object.producto.descripcion %></td>
	<td data-title="Cantidad"><%= f.text_field :cantidad, :value => 0, class: "cantidad form-control" %></td>
	<td data-title="Precio"><%= f.text_field :precio, :value => f.object.producto.precio , class: "precio form-control" %></td>
	<td data-title="IVA"><%= f.text_field :iva, :value => 0, class: "iva form-control" %></td>
	<td data-title="Neto"><%= f.text_field :neto, :value => 0, class: "neto form-control" %></td>
	<td data-title="descuento"><%= f.text_field :neto, :value => 0, class: "descuento form-control" %></td>
	<td data-title="Subtotal"><%= f.text_field :subtotal, :value => 0, class: "subtotal form-control" %></td>
	<%= f.hidden_field :producto_id %>
</tr>

<script>
$('document').ready(function(){
	$('.cantidad').unbind();
	$('.cantidad').on('change', function(){
		UpdateSubTotal(this);
	});
	$('.precio').on('change', function(){
		UpdateSubTotal(this);
	});
	$('.descuento').unbind();
	$('.descuento').change(function(){
		UpdateSubTotal(this);
	});

	function UpdateSubTotal(elem) {
	    // This will give the tr of the Element Which was changed
	    var $container = $(elem).parent().parent();
	    var cantidad = $container.find('.cantidad').val();
	    var precio = $container.find('.precio').val();
	    var descuento = 1 - (($container.find('.descuento').val() / 100));
	    var subtotal = parseInt(cantidad) * parseFloat(precio) * parseFloat(descuento);
	    var neto = (parseInt(subtotal) / (1.21));
	    var iva = (subtotal - neto);
	    $container.find('.subtotal').val(subtotal.toFixed(2)).trigger('change');
	    $container.find('.iva').val(iva.toFixed(2)).trigger('change');
	    $container.find('.neto').val(neto.toFixed(2)).trigger('change');
	}

});
</script>