<%= form_for(@stock_pedido, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @stock_pedido.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@stock_pedido.errors.count, "error") %> prohibited this provincia from being saved:</h4>

      <ul>
      <% @stock_pedido.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :vendedor, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :vendedor, class: "form-control" %>
    </div>
  </div>
 <div class="table-responsive-vertical shadow-z-1">
  <table id="table" class="table table-hover">
     <% if @stock_pedido.new_record? %>
    <thead>
              <tr>
              <th>Producto</th>
              <th>Precio</th>
              <th>Cantidad</th>
              <th>Subtotal</th>
            </tr>
            </thead>
            <tbody>
                <%= f.fields_for :stock_items do |ff| %>
                   <% render 'stock_items', f: ff %>
                <% end %>
              <% else %>
                          <thead>
              <tr>
              <th>Producto</th>
              <th>Cantidad</th>
              <th>Rango desde</th>
              <th>Rango Hasta</th>
            </tr>
            </thead>
            <tbody>
                <%= f.fields_for :stock_items do |ff| %>
                   <% render 'stock_items_edit', f: ff %>
                <% end %>
      <% end %>
    </tbody>
   </table>
</div>
  <div class="form-group">
    <%= f.label :cantidadTotal, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.number_field :cantidadTotal, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :precioTotal, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :precioTotal, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to stock_pedidos_path, class: 'btn btn-default pull-right' do %>
          Cancelar
      <% end -%>
    </div>
  </div>
<% end %>

