<tr>
	<td data-title="Producto"><%= f.object.producto.nombre %><br>
	<%= f.object.producto.descripcion %></td>
	<td data-title="Precio" class="precio"><%= f.text_field :precio %></td>
	<td data-title="Cantidad"><%= f.text_field :cantidad, :value => 0, class: "cantidad form-control" %></td>
	<td data-title="Subtotal" ><div class="subtotal" style="widht: 40px" value=0></div></td>
	<%= f.hidden_field :producto_id %>
</tr>


<script>
$('document').ready(function(){

	 $('.subtotal').change(function() {
    	UpdateTotal();
    });

	$('.cantidad').on('change', function() {
        UpdateSubTotal(this);
    });




function UpdateSubTotal(elem) {
    // This will give the tr of the Element Which was changed
    var $container = $(elem).parent().parent();
    var quantity = $container.find('.cantidad').val();
    var price = $container.find('.precio').html();
    var subtotal = parseInt(quantity) * parseFloat(price);
    $container.find('.subtotal').text(subtotal.toFixed(2)).trigger('change');
}


 function UpdateTotal() {
	var sum = 0;
	var cantidad = 0;
	$(".subtotal").each(function() {
	    var val = $.trim( $(this).text() );
	    if ( val ) {
	        val = parseFloat( val.replace( /^\$/, "" ) );
	        sum += !isNaN( val ) ? val : 0;
	    }
	});

	$(".cantidad").each(function(){
		var val = $.trim( $(this).val() );
		cantidad += parseFloat(val);
	});

	$("input.total").val( sum );
	$("input.cantidadTotal").val( cantidad );
}


});

</script>