<head>
    <%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<section class="seccion-principal" data-section-name="principal">
<%= render 'principal' %>
</section>
<div class="container">
<section class="seccion-inicio" data-section-name="inicio" id="seccion-inicio">
	<%= render 'nosotros' %>
</section>
<section class="seccion-productos" data-section-name="productos" id="seccion-productos">
	<h1>Nuestros productos</h1>
	<div>
	<%= render 'prueba' %>
	</div>
</section>

<section class="seccion-contacto" data-section-name="contacto" id="seccion-contacto">
	<%= render 'contacto' %>
</section>
</div>
<script>
//$(function() {
/*  $.scrollify({
		section:"section",
});


  $(".pagination a").on("click",function() {
    $.scrollify.move($(this).attr("href"));
  });



});*/


</script>