
<div class="container">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"><h2>insumo</h2></div>
        <div class="panel-body">
         <dl class="dl-horizontal">
          <dt>Nombre:</dt>
          <dd><%= @insumo.nombre %></dd>

          <dt>Descripcion:</dt>
          <dd><%= @insumo.descripcion %></dd>

          <dt>Precio:</dt>
          <dd><%= number_to_currency(@insumo.precio) %></dd>

          <dt>Alerta:</dt>
          <dd><%= @insumo.alerta %></dd>

          <dt>Unidad medida:</dt>
          <dd><%= @insumo.unidad_medida %></dd>

          <dt>Stock fisico:</dt>
          <dd><%= @insumo.stock_fisico %></dd>

          <dt>Stock reservado:</dt>
          <dd><%= @insumo.stock_reservado %></dd>

          <dt>Stock disponible:</dt>
          <dd><%= @insumo.stock_disponible %></dd>

          <dt>Stock pedido:</dt>
          <dd><%= @insumo.stock_pedido %></dd>

          <dt>imagen:</dt>
          <dd><%= @insumo.imagen %></dd>

        </dl>
        </div>
      </div>
    </div>
      <%= link_to insumos_path, class: 'btn btn-default pull-right' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        insumos
      <% end %>
      <%= link_to insumo_path(@insumo), method: :delete, data: { confirm: 'Esta seguro que desea eliminar esta provincia?' }, class: 'btn btn-danger pull-right', remote: true do %>
        <span class="glyphicon glyphicon-trash"></span>
        Eliminar
      <% end %>
      <%= link_to edit_insumo_path(@insumo),  class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
  </div>
</div>