<div class="container">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading usuarios"><h2>Usuario:</h2></div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt>Email:</dt>
            <dd><%= @user.email %></dd>
            <dt>Cuit:</dt>
            <dd><%= @user.cuit %></dd>

              <dt>Razon Social:</dt>
            <dd><%= @user.razonSocial %></dd>
            <dt>Pais:</dt>
            <dd><%= @user.pais_id %></dd>
            <dt>Provincia:</dt>
            <dd><%= @user.provincia_id %></dd>
            <dt>Ciudad:</dt>
            <dd><%= @user.localidad_id %></dd>
            <% @user.user_sucursals.each do |sucursal| %>
              <dt>Nombre:</dt>
              <dd><%= sucursal.nombre %></dd>
              <dt>Encargado:</dt>
              <dd><%= sucursal.encargado %></dd>
              <dt>Telefono:</dt>
              <dd><%= sucursal.telefono %></dd>
               <dt>Direccion:</dt>
              <dd><%= sucursal.direccion %></dd>
              <dt>Codigo Postal:</dt>
            <dd><%= @user.codigoPostal %></dd>
            <% end %>
            <% if current_user.profile_id == 3 %>
              <dt>Distribuidor:</dt>
            <% else %>
              <dt>Clientes:</dt>
            <% end %>
            <% for cliente in @user.clientes do %>
              <dd><%= cliente.razonSocial %></dd>
            <% end %>


          </dl>
        </div>
      </div>
    </div>
      <%= link_to users_path, class: 'btn btn-default pull-right' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        Usuarios
      <% end %>
      <%= link_to user_path(@user), method: :delete, data: { confirm: 'Esta seguro que desea eliminar este usuario?' }, class: 'btn btn-danger pull-right'do %>
        <span class="glyphicon glyphicon-trash"></span>
        Eliminar
      <% end %>
      <%= link_to edit_user_path(@user),  class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
  </div>
</div>