
<div class="container">
  <div class="panel-group">
    <div class="panel panel-default">
      <div class="panel-heading"><h2>Pagina principal</h2></div>
        <div class="panel-body">
         <dl class="dl-horizontal">
          <dt>Imagen principal:</dt>
          <dd><%= @pagina_principal.imagen_principal %></dd>

          <dt>Nosotros texto:</dt>
          <dd><%= @pagina_principal.nosotros_texto %></dd>

        </dl>
        </div>
      </div>
    </div>
      <%= link_to pagina_principal_path, class: 'btn btn-default pull-right' do %>
        <span class="glyphicon glyphicon-list-alt"></span>
        pagina_principals
      <% end %>
      <%= link_to pagina_principal_path(@pagina_principal), method: :delete, data: { confirm: 'Esta seguro que desea eliminar esta provincia?' }, class: 'btn btn-danger pull-right', remote: true do %>
        <span class="glyphicon glyphicon-trash"></span>
        Eliminar
      <% end %>
      <%= link_to edit_pagina_principal_path(@pagina_principal),  class: 'btn btn-primary' do %>
        <span class="glyphicon glyphicon-pencil"></span>
        Editar
      <% end %>
  </div>
</div>