<p id="notice"><%= notice %></p>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h3>Condiciones de pago</h3>
      <p id="notice"><%= notice %></p>
    </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
          <%= form_tag(condicion_pagos_path, :method => "get", id: "search-form") do %>
            <div class="input-group">
              <%= text_field_tag :search,  params[:search], placeholder: "Buscar condiciones de pago", class: "form-control"%>
              <span class="input-group-btn">
                <%= submit_tag "Buscar", class: 'btn btn-default'%>
              </span>
            </div>
           <% end %>
          </div>
        </div>
        <div class="row" style="height: 100px;"></div>
          <div class="table-responsive">
            <table class="table table-hover">
                <thead style="color: white; background-color:rgba(30,20,20, 0.7);">
                  <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Dias</th>

                    <th>Mostrar</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                  </tr>
                </thead>


                <tbody>
                  <% @condicion_pagos.each do |condicion_pago| %>
                                            <td><%= condicion_pago.nombre %></td>
                                            <td><%= condicion_pago.descripcion %></td>
                                            <td><%= condicion_pago.dias %></td>
                                      <td>
                    <%= link_to condicion_pago_path(condicion_pago) do %>
                      <i class="glyphicon glyphicon-list-alt"></i>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_condicion_pago_path(condicion_pago) do %>
                      <i class="glyphicon glyphicon-pencil"></i>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to condicion_pago_path(condicion_pago.id), method: :delete, data: { confirm: 'Esta seguro que desea eliminar esta condicion_pago?' }, remote: true do %>
                      <i class="glyphicon glyphicon-trash"></i>
                    <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
            </table>
          </div>
          <%= will_paginate @condicion_pagos, renderer: BootstrapPagination::Rails %>
          <button type="button" class="btn btn-primary pull-right">
            <%= link_to 'Nueva condicion de pago', new_condicion_pago_path %>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
