
<div class="detalle-producto">
	<div class="detalle-producto-titulo">
		<div class="detalle-producto-titulo-nombre"><%= f.object.producto.nombre %></div>
		<div class="detalle-producto-titulo-descripcion"><%= f.object.producto.descripcion %></div>
	</div>
	<div class="detalle-producto-foto"><%= image_tag f.object.producto.imagen, class: "producto_imagen" %>
	<div class="precio detalle-producto-precio">
		<%= number_to_currency(f.object.producto.precio) %>
	</div>
	</div>
	<% if f.object.producto.insumos.any? %>
		<div class="detalle-producto-informacion">
			<!-- iteracion -->
			<%= f.fields_for :detalle_insumos do |ff| %>
				<% if ProductoInsumo.find_by(insumo_id: ff.object.insumo.id, producto_id: f.object.producto.id).coeficiente > 0 %>
				<div class="detalle-producto-informacion-insumo">
					<label class="precio-unitario" value=<%= number_to_currency(ff.object.insumo.precio * ProductoInsumo.find_by(insumo_id: ff.object.insumo.id, producto_id: f.object.producto.id).coeficiente * @descuento) %> >
						<% if ProductoInsumo.find_by(insumo_id: ff.object.insumo.id, producto_id: f.object.producto.id).por_defecto?  %>
							<%= ff.check_box :_destroy, {checked: true, disabled: true}, '0', '1' %>
						<% else %>
							<%= ff.check_box :_destroy, {checked: false, class:"checkbox_insumo"}, '0', '1' %>

						<% end %>

						<span><%= ff.object.insumo.nombre %></span>

					</label>
					<%= hidden_field_tag Insumo.find(ff.object.insumo.id).imagen, '', class: "insumo_imagen" %>
					<%= ff.hidden_field :insumo_id %>
					<%= ff.hidden_field :producto_id %>
				</div>
				<% end %>
			<% end %>
			<!-- fin iteracion -->
		</div>
	<% end %>
	<!-- con el siguiente if voy a verificar que tenga insumos obligatorios -->
	<% if f.object.producto.rango == true && f.object.producto.correlativo == false %>
		<%= hidden_field_tag "validar_insumo", "validar_insumo" , class: "validar_insumo" %>
	<% end %>
	<% if @pedido.errors.any? %>
		<div class="detalle-producto-cantidad">Cantidad: <%= f.text_field :cantidad  ,  class: "cantidad"%></div>
	<% else %>
		<div class="detalle-producto-cantidad">Cantidad: <%= f.text_field :cantidad, :value => 0,  class: "cantidad"  %></div>
	<% end %>
	<%= f.hidden_field :precio, :value => (f.object.producto.precio * @descuento) %>
	<%= f.hidden_field :producto_id %>
	<input class="pedido_minimo" hidden value=<%= f.object.producto.pedido_minimo %>></input>
	<input class="multiplo" hidden value=<%= f.object.producto.multiplo %>></input>
	<span class="subtotal" style="display: none">0</span>
</div>


<script>



$('document').ready(function(){


	



	 $('.subtotal').change(function() {
    	UpdateTotal();
    });


	$('.cantidad').off('change').on('change', function() {
        UpdateSubTotal(this);
        validarPedidoMinimo(this);
        $contenedor = $(this).parent().parent();
        prueba = $(".validar_insumo");
        console.log($contenedor.find(prueba).val());
        if ($contenedor.find(prueba).val() === "validar_insumo") {
        	console.log("esta validando");
        	validarArticulos(this);

        }
        
        //UpdateTotal(this);
    });


	





function UpdateSubTotal(elem) {
    // This will give the tr of the Element Which was changed
    var $container = $(elem).parent().parent();
    var quantity = $container.find('.cantidad').val();
    var price = $container.find('.precio').text();
    price = price.replace("$", "");
    var subtotal = parseInt(quantity) * parseFloat(price);
    $container.find('.subtotal').text(subtotal.toFixed(2)).trigger('change');
}




//esta funcion revisa el pedido_minimo y el multiplo de cada articulo para validar que el cliente ingreso lo correcto
function validarPedidoMinimo(elem){
	var $container = $(elem).parent().parent();
	var pedidoMinimo = $container.find('.pedido_minimo').val();
	var multiplo = $container.find('.multiplo').val();
	var cantidad = $container.find('.cantidad').val();
	console.log(cantidad);
	if (parseInt(cantidad) < parseInt(pedidoMinimo)){
		alert('El minimo de unidades para este producto es: ' + pedidoMinimo);
		$container.find('.cantidad').focus();
	
	}
}






//Con esta funcion valido los articulos que requieran la seleccion de un
//insumo
  function validarArticulos(elem){
  	var $container = $(elem).parent().parent().parent();
	var $elemento = $(elem).parent().parent().parent();
	var quantity = $container.find('.cantidad').val();
	var chequeado = false
	if (quantity > 0){
  		$elemento.find(".checkbox_insumo").each(function(){
  			if ( $(this).is(':checked') ){
  				chequeado = true;
  				$(":submit").removeAttr("disabled");
  			}
  		});
  	}
  	if (chequeado === false){
  		alert("No seleccionaste ninguna opcion.");
  		$(":submit").attr("disabled", true);
  	}
  }

  function validarArticulosSinCantidad(elem){
  	var $container = $(elem).parent().parent().parent();
	var $elemento = $(elem).parent().parent().parent();
	var chequeado = false
  	$elemento.find(".checkbox_insumo").each(function(){
  		if ( $(this).is(':checked') ){
  			chequeado = true;
  			$(":submit").removeAttr("disabled");
  		}
  	});
  	if (chequeado === false){
  		$(":submit").attr("disabled", true);
  	}
  }

 function UpdateTotal() {
	var sum = 0;
	var cantidad = 0;
	$(".subtotal").each(function() {
	    var val = $.trim( $(this).text() );
	    if ( val ) {
	        val = parseFloat( val.replace( /^\$/, "" ) );
	        sum += !isNaN( val ) ? val : 0;
	    }
	});

	$(".cantidad").each(function(){
		var val = $.trim( $(this).val() );
		cantidad += parseFloat(val);
	});

	$("input.total").val( sum );
	$("input.cantidadTotal").val( cantidad );
}

	
});

</script>