
<div class="detalle-producto">
	<div class="detalle-producto-titulo">
		<div class="detalle-producto-titulo-nombre"><%= f.object.producto.nombre %></div>
		<div class="detalle-producto-titulo-descripcion"><%= f.object.producto.descripcion %></div>
	</div>
	<div class="detalle-producto-foto"><%= image_tag f.object.producto.imagen, class: "producto_imagen" %></div>
	<div class="precio detalle-producto-precio">
		<%= number_to_currency(f.object.producto.precio) %>
	</div>
	<% if f.object.producto.insumos.any? %>
		<div class="detalle-producto-informacion-texto">Especifique su seleccion:</div>
		<div class="detalle-producto-informacion">
			<!-- iteracion -->
			<%= f.fields_for :detalle_insumos do |ff| %>
				<% if ProductoInsumo.find_by(insumo_id: ff.object.insumo.id, producto_id: f.object.producto.id).coeficiente > 0 %>
				<div class="detalle-producto-informacion-insumo">
					<label class="precio-unitario" value=<%= number_to_currency(ff.object.insumo.precio * ProductoInsumo.find_by(insumo_id: ff.object.insumo.id, producto_id: f.object.producto.id).coeficiente * @descuento) %> >
						<% if ProductoInsumo.find_by(insumo_id: ff.object.insumo.id, producto_id: f.object.producto.id).por_defecto?  %>
							<%= ff.check_box :_destroy, {checked: true, disabled: true}, '0', '1' %>
						<% else %>
							<%= ff.check_box :_destroy, {checked: false, class:"checkbox_insumo"}, '0', '1' %>

						<% end %>

						<span><%= ff.object.insumo.nombre %></span>

					</label>
					<%= hidden_field_tag Insumo.find(ff.object.insumo.id).imagen, '', class: "insumo_imagen" %>
					<%= ff.hidden_field :insumo_id %>
					<%= ff.hidden_field :producto_id %>
				</div>
				<% end %>
			<% end %>
			<!-- fin iteracion -->
		</div>
	<% end %>
	<% if @pedido.errors.any? %>
		<div class="detalle-producto-cantidad">Cantidad: <%= f.text_field :cantidad  ,  class: "cantidad"%></div>
	<% else %>
		<div class="detalle-producto-cantidad">Cantidad: <%= f.text_field :cantidad, :value => 0,  class: "cantidad"  %></div>
	<% end %>
	<div class="detalle-producto-total">
		<span>Subtotal: $</span>
		<span class="subtotal">0</span>
	</div>

	<%= f.hidden_field :precio, :value => (f.object.producto.precio * @descuento) %>
	<%= f.hidden_field :producto_id %>
</div>






<script>



$('document').ready(function(){

	$(".precio-unitario").off('change').on('change', function(){
		calcularPrecioArticulo(this);
		cambiarImagenInsumo(this);
		deseleccionarChecks(this);
	});
	
	$(".precio-unitario").each(function(){
		calcularPrecioArticulo(this);

	});


	 $('.subtotal').change(function() {
    	UpdateTotal();
    });


	$('.cantidad').off('change').on('change', function() {
        UpdateSubTotal(this);
        validarArticulos(this);
        
    });


	
    $(".cantidad").off('change').on('change',function(){
		validarArticulos(this);
		UpdateTotal(this);
    });


    $(".checkbox_insumo").off('change').on('change',function(){
    	var $container = $(this).parent().parent().parent().parent();
		var quantity = $container.find('.cantidad').val();
    	 if ( $(this).is(':checked') & (quantity > 0)){
  			$(":submit").attr("disabled", false);
  			}
  		else
  			{
  				$(":submit").attr("disabled", true);
  			}
    });

function UpdateSubTotal(elem) {
    // This will give the tr of the Element Which was changed
    var $container = $(elem).parent().parent();
    var quantity = $container.find('.cantidad').val();
    var price = $container.find('.precio').text();
    price = price.replace("$", "");
    var subtotal = parseInt(quantity) * parseFloat(price);
    $container.find('.subtotal').text(subtotal.toFixed(2)).trigger('change');
}

function calcularPrecioArticulo(elem) {
	var suma = 0;
	var $container = $(elem).parent().parent().parent();
	var $elemento = $(elem).parent().parent();
	$elemento.find('.detalle-producto-informacion-insumo').each(function() {
			if ($(this).find('.precio-unitario').find('input[type=checkbox]').prop('checked') == true){
			var val = $(this).find('.precio-unitario').attr("value");
			   	if ( val ) {
			        val = parseFloat( val.replace( /^\$/, "" ) );
			        suma += !isNaN( val ) ? val : 0;
			    }
		}
	});
	var cantidad = $container.find('.cantidad').val();
	var subtotal = parseInt(cantidad) * parseFloat(suma);
	$container.find('.precio').text(suma.toFixed(2)).trigger('change');
	$container.find('.subtotal').text(subtotal.toFixed(2)).trigger('change');
}

  function cambiarImagenInsumo(elem){
  	var $container = $(elem).parent().parent().parent();
  	var $imagen = $container.find('.producto_imagen');
  	var $elemento = $(elem).parent();
  	var nueva_imagen = $elemento.find('.insumo_imagen').attr("name");
  	$imagen.attr("src", nueva_imagen);
  	
  }

  function deseleccionarChecks(elem){
  	var $container = $(elem).parent().parent().parent();
	var $elemento = $(elem).parent().parent();
	var $checkbox = $(elem).find(".checkbox_insumo").attr("id");
  	$elemento.find(".checkbox_insumo").each(function(){
  		if ($(this).attr("id") != $checkbox ){
  			$(this).attr('checked', false);
  	}
  	});
  }

  function validarArticulos(elem){
  	var $container = $(elem).parent().parent().parent();
	var $elemento = $(elem).parent().parent().parent();
	var quantity = $container.find('.cantidad').val();
	var chequeado = false
	if (quantity > 0){
  		$elemento.find(".checkbox_insumo").each(function(){
  			if ( $(this).is(':checked') ){
  				chequeado = true;
  				$(":submit").removeAttr("disabled");
  			}
  		});
  	}
  	if (chequeado === false){
  		alert("No seleccionaste ninguna opcion.");
  		$(":submit").attr("disabled", true);
  	}
  }

  function validarArticulosSinCantidad(elem){
  	var $container = $(elem).parent().parent().parent();
	var $elemento = $(elem).parent().parent().parent();
	var chequeado = false
  	$elemento.find(".checkbox_insumo").each(function(){
  		if ( $(this).is(':checked') ){
  			chequeado = true;
  			$(":submit").removeAttr("disabled");
  		}
  	});
  	if (chequeado === false){
  		$(":submit").attr("disabled", true);
  	}
  }

 function UpdateTotal() {
	var sum = 0;
	var cantidad = 0;
	$(".subtotal").each(function() {
	    var val = $.trim( $(this).text() );
	    if ( val ) {
	        val = parseFloat( val.replace( /^\$/, "" ) );
	        sum += !isNaN( val ) ? val : 0;
	    }
	});

	$(".cantidad").each(function(){
		var val = $.trim( $(this).val() );
		cantidad += parseFloat(val);
	});

	$("input.total").val( sum );
	$("input.cantidadTotal").val( cantidad );
}

	
});

</script>