<li class="detalle-producto">
	<div class="detalle-producto-titulo"><%= f.object.producto.nombre %></div>
	<div class="detalle-producto-foto"><%= image_tag f.object.producto.imagen %></div>
		<div class="precio detalle-producto-precio">
			$<%= f.object.producto.precio %>
		</div>
	<% if @pedido.errors.any? %>
		<div class="detalle-producto-cantidad">Cantidad: <%= f.text_field :cantidad  ,  class: "cantidad"%></div>
	<% else %>
		<div class="detalle-producto-cantidad">Cantidad: <%= f.text_field :cantidad, :value => 0,  class: "cantidad"  %></div>
	<% end %>
	<% if f.object.producto.insumos.any? %>
	<div class="detalle-producto-informacion-texto">Especifique su seleccion:</div>
		<div class="detalle-producto-informacion">
			<!-- iteracion -->
				<%= f.fields_for :detalle_insumos do |ff| %>
					<div class="detalle-producto-informacion-insumo">
						<label class="precio-unitario" value=<%= ff.object.insumo.precio %>>
							<% if ProductoInsumo.find_by(insumo_id: ff.object.insumo.id, producto_id: f.object.producto.id).por_defecto?  %>
								<%= ff.check_box :_destroy, {checked: true}, '0', '1' %>
							<% else %>
				    			<%= ff.check_box :_destroy, {}, '0', '1' %>
				    		<% end %>
				    		<span><%= ff.object.insumo.nombre %></span>

						</label>
						<%= ff.hidden_field :insumo_id %>
				        <%= ff.hidden_field :producto_id %>
					</div>
				<% end %>
			<!-- fin iteracion -->
		</div>
	<% end %>
	<div class="detalle-producto-total">
		<span>Subtotal: $</span>
		<span class="subtotal">0</span>
	</div>
	<%= f.hidden_field :precio, :value => f.object.producto.precio %>
	<%= f.hidden_field :producto_id %>
</li>




<script>
$('document').ready(function(){

	calcularPrecioArticulo();

	 $('.subtotal').change(function() {
    	UpdateTotal();
    });

	$('.cantidad').on('change', function() {
        UpdateSubTotal(this);
    });


function UpdateSubTotal(elem) {
    // This will give the tr of the Element Which was changed
    var $container = $(elem).parent().parent();
    var quantity = $container.find('.cantidad').val();
    var price = $container.find('.precio').text();
    price = price.replace("$", "");
    var subtotal = parseInt(quantity) * parseFloat(price);
    $container.find('.subtotal').text(subtotal.toFixed(2)).trigger('change');
}

function calcularPrecioArticulo() {
	var suma = 0;
	$(".precio-unitario").each(function() {
		var val = $(this).attr("value");
	   	if ( val ) {
	        val = parseFloat( val.replace( /^\$/, "" ) );
	        suma += !isNaN( val ) ? val : 0;
	    }
	});
	alert(suma);
}

 function UpdateTotal() {
	var sum = 0;
	var cantidad = 0;
	$(".subtotal").each(function() {
	    var val = $.trim( $(this).text() );
	    if ( val ) {
	        val = parseFloat( val.replace( /^\$/, "" ) );
	        sum += !isNaN( val ) ? val : 0;
	    }
	});

	$(".cantidad").each(function(){
		var val = $.trim( $(this).val() );
		cantidad += parseFloat(val);
	});

	$("input.total").val( sum );
	$("input.cantidadTotal").val( cantidad );
}

	
});

</script>