
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading"><h3>Nuevo Pedido</h3></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6">
          </div>
        </div>
        <br>
        <%= form_for(@pedido, html: { class: "form-horizontal", role: "form" }) do |f| %>
          <% if @pedido.errors.any? %>
            <div class="alert alert-danger alert-dismissable" role="alert">
              <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4><%= pluralize(@pedido.errors.count, "error") %> prohibited this pedido from being saved:</h4>

              <ul>
              <% @pedido.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
            <div id="accordion" role="tablist" aria-multiselectable="false">
              <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="ClienteCollapse">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#ClienteCollapse" aria-expanded="true" aria-controls="afipCollapse">
                      Cliente
                    </a>
                  </h3>
                </div>
                <div id="ClienteCollapse" class="panel-body panel-collapse collapse in" role="tabpanel" aria-labelledby="ClienteCollapse">
                    <%= f.fields_for @pedido do |ff| %>
                       <% render 'cabecera', f: ff %>
                    <% end %>
                </div>
              </div>
            </div>
        <%= f.fields_for :detalles do |ff| %>
           <% render 'detalle', f: ff %>
        <% end %>

  <div class="form-group">
    <%= f.label :cantidadTotal, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :cantidadTotal, class: "cantidadTotal form-control" %>
    </div>
  </div>
  <div class="form-group">
      <%= f.label :precioTotal, class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
      <%= f.text_field :precioTotal, class: "subtotal form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

</div>
</div>
</div>
</div>
<!--<div class="subtotal">0$</div> -->
<script>

$('.cantidad').on('change', function () {

    var subtotal = 0;
    var cantidad = 0;
    $('.cantidad').each(function () {
        var $this = $(this);
        var quantity = parseInt($this.val());
        var price = parseFloat($this.siblings('.precio').val())
        subtotal += quantity * price;
        cantidad += quantity;
    })
    $('.subtotal').text(subtotal);
    $('.cantidadTotal').text(cantidad);
})
$('.cantidad').trigger('change')
</script>
