<div class="contenedor-totales pull-right">
  <div class="form-group">
    <%= f.label :cantidadTotal, "Cantidad Total", class: "col-sm-5 col-sm-offset-3 control-label" %>
    <div class="col-sm-4">
      <%= f.text_field :cantidadTotal, class: "cantidadTotal campo form-control", :readonly => true%>
    </div>
  </div>
  <div class="form-group">
      <%= f.label :precioTotal, "Precio Total", class: "col-sm-5 col-sm-offset-3 control-label" %>
      <div class="col-sm-4">
      <%= f.text_field :precioTotal, class: "total campo form-control", :readonly => true %>
    </div>
  </div>
  <%= f.hidden_field :pendiente_confirmar, value: false %>
  <div class="total" disabled></div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Enviar", class: "btn btn-primary pull-right" %>
      </div>
    </div>
  </div>
</div>

