  <div class="form-group">
    <%= f.label :cantidadTotal, class: "col-sm-2 control-label" %>
    <div class="col-sm-2">
      <%= f.text_field :cantidadTotal, class: "cantidadTotal form-control"%>
    </div>
  </div>
  <div class="form-group">
      <%= f.label :precioTotal, class: "col-sm-2 control-label" %>
      <div class="col-sm-2">
      <%= f.text_field :precioTotal, class: "total form-control" %>
    </div>
  </div>
  <div class="total" disabled></div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit "Enviar", class: "btn btn-primary pull-right" %>
      </div>
    </div>