<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading pedidos"><h3>Pedidos</h3></div>
      <div class="panel-body">
        <div class="row">
          <div class="col-lg-6 col-lg-offset-3">
            <%= form_tag(pedidos_path, :method => "get", id: "search-form") do %>
            <div class="input-group">
              <%= text_field_tag :search,  params[:search], placeholder: "Buscar pedidos", class: "form-control"%>
              <span class="input-group-btn">
                <%= submit_tag "Buscar", class: 'btn btn-default'%>
              </span>
            </div>
            <% end %><br>
             <%= form_tag(pedidos_path, :method => "get", id: "filtrar-form") do %>
            <div class="input-group">
                <%=select_tag :filtrar, options_from_collection_for_select(@estados, :to_s, :to_s, {:selected => params[:filtrar], include_blank: true}), {class: "form-control"} %>
              <span class="input-group-btn">
                <%= submit_tag "Filtrar", class: 'btn btn-default'%>
              </span>
            </div>
           <% end %>
          </div>
        </div>
      <div class="row" style="height: 50px;"></div>
        <div class="table-responsive">
          <table class="table table-hover">
              <thead class="pedidos">
        <th>Comprobante</th>
        <th><%= sortable "CUIT" %></th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Remitido</th>
        <th>Facturado</th>
        <th>Mostrar</th>
        <th>Confirmado</th>
        <th>Eliminar</th>
      </thead>
      <tbody>
      <div id="datos">
        <% @pedidos.each do |pedido| %>
        <!-- se podria utilizar para ver el proximo turno -->
        <tr>
          <td><%= pedido.comprobanteNumero %></td>
          <td><%= pedido.cuit %></td>
          <td><%= pedido.created_at.to_formatted_s(:day_month_and_year) %></td>
          <td><%= pedido.status %></td>
          <td>
              <% if pedido.confirmado? || pedido.remitido_parcial? %>
                <span class="glyphicon glyphicon-unchecked"><%= link_to "Remitir", {controller:"remitos", action:"new", id: pedido} %></span>
              <% elsif !pedido.activo? %>
                <%= link_to mostrar_remitos_path(pedido: pedido.id), method: "post" do %>
                  <i style="color:green" class="glyphicon glyphicon-check"></i>
                <% end %>
              <% else %>
                <i class="glyphicon glyphicon-uncheck"></i>
              <% end %>
          </td>
          <td>
              <% if pedido.facturado? %>
                <span style="color:green" class="glyphicon glyphicon-check"><%= link_to '', pedido %></span>
              <% elsif current_user.profile_id == 1 && (pedido.remitido? || pedido.remitido_parcial? || pedido.facturado_parcial?) %>
                <span class="glyphicon glyphicon-unchecked"><%= link_to "Facturar", nueva_factura_path("remito_ids[]" => pedido.remitos.all.pluck(:id)) %></span>
              <% else %>
                <span class="glyphicon glyphicon-check"></span>
              <% end %>
          </td>
          <td>
                <%= link_to pedido_path(pedido) do %>
                  <i class="glyphicon glyphicon-list-alt"></i>
                <% end %>
          </td>
          <td>
          <% if current_user.profile_id == 1 && pedido.activo? %>
            <%= link_to edit_pedido_path(pedido) do %>
             <i class="glyphicon glyphicon-ok"></i>
            <% end %>
          <% else %>
            <i style="color:green" class="glyphicon glyphicon-ok"></i>
          <% end %>

          </td>
          <td>
          <% if pedido.activo? %>
            <%= link_to pedido_path(pedido.id), method: :delete, data: { confirm: 'Esta seguro que desea eliminar este pedido?' } do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          <% end %>
          </td>
          </tr>
          <% end %>
          </div>
      </tbody>
      </table>
      </div>
<%= will_paginate @pedidos, renderer: BootstrapPagination::Rails %>
      <button type="button" class="btn btn-primary pull-right">
        <%= link_to 'Nuevo Pedido', new_pedido_path %>
      </button>
</div>


