<li><%= link_to "Pedidos", pedidos_path %></li>
<li><%= link_to "Usuarios", users_path %></li>
<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-role="button" data-toggle="dropdown"> <span class="caret"></span></a>
  <ul class="dropdown-menu">
      <li><%= link_to "Pagos", pagos_path %></li>
      <li><%= link_to "Remitos", remitos_path %></li>
      <li><%= link_to "Facturas", facturas_path %></li>
      <li><%= link_to "Notas de credito", nota_creditos_path %></li>
    <li role="separator" class="divider"></li>
      <li><%= link_to "Usuarios", users_path %></li>
      <li><%= link_to "Productos", productos_path %></li>
      <li><%= link_to "Stock", stock_pedidos_path %></li>
      <li><%= link_to "Cheques", cheques_path %></li>
      <li><%= link_to "Cuentas corrientes", cuentascorrientes_path %></li>
    <li role="separator" class="divider"></li>
      <li><%= link_to "Mensajes", mensajes_path %></li>
      <li><%= link_to "Menu Administradores", menu_path %></li> 
  </ul>
</li>