<!DOCTYPE html>
<html>
  <head>
    <div class="spinner"><i class="fa fa-circle-o-notch fa-spin" style="font-size:50px"></i></div>
    <title>Caravanas</title>
    <%= csrf_meta_tags %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'scrollify', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'navbar', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'colores', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <nav id="custom-bootstrap-menu" class="navbar navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to root_url, :class => "navbar-brand" do %>
            <img src="<%= asset_path('logo.png') %>">
          <% end %> 
            <button type="button" class="navbar-toggle"  data-toggle="collapse" data-target=".navbar-menubuilder"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar" style='color:black'></span><span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse navbar-menubuilder">
            <ul class="nav navbar-nav navbar-left">
                <% if current_page?(root_url) %>
                  <li><a id="inicio-link" href="#inicio" >Inicio</a></li>
                  <li><a id="nosotros-link" href="#nosotros">Nosotros</a></li>
                  <li><a id="productos-link" href="#productos">Productos</a></li>
                  <li><a href="#contacto">Contacto</a></li>
                  <% if current_user %>
                    <% if current_user.profile_id == 1 %>
                      <li><%= link_to "Acceso administradores", menu_path %></li>
                    <% else %>
                      <li><%= link_to "Acceso distribuidores", distribuidores_path %></li>
                    <% end %>
                  <% end %>
                <% else %>
                  <% if current_user.profile_id == 1 %>
                    <%= render "layouts/administradores" %>
                  <% else %>
                    <%= render "layouts/distribuidores" %>
                  <% end %>
                <% end %>
                <% if current_user %>
                  <li><%= link_to log_out_path do %>
                    <i class="glyphicon glyphicon-off"></i></li>
                  <% end %>
                <% else %>
                    <li><%= link_to "Acceso usuarios", log_in_path %></li>
                <% end %>
            </ul>
        </div>
    </div>
  </nav>
    <%= flash_messages %>
    <%= yield %>
  </body>
</html>
