<!DOCTYPE html>
<html>
  <head>
    <div class="spinner"><i class="fa fa-circle-o-notch fa-spin" style="font-size:50px"></i></div>
    <title>Caravanas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'scrollify', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>



<ul class="topnav" id="myTopnav">
  <li><img src="<%= asset_path('logo.png') %>"></li>
  <li><a id="inicio-link" href="#inicio" >Inicio</a></li>
  <li><a id="nosotros-link" href="#nosotros">Nosotros</a></li>
   <li><a id="productos-link" href="#productos">Productos</a></li>
  <li><a href="#contacto">Contacto</a></li>
  <li>              <%= alert %></li>
  <li>
    <% if current_user %>
      <%= link_to "Desconectarse", log_out_path  %>
        <% else %>
          <!--<%= link_to "Registro", sign_up_path  %>-->
          <%= link_to "Acceso usuarios", log_in_path %>
        <% end %>
    </li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>

  <body>

    <%= yield %>
  </body>
</html>
